#page_content_layout {
    padding-left: 0 !important; 
    padding-right: 0 !important; 
}
#header_container {
    padding-left: 2rem;
    padding-right: 2rem;
}
@media(max-width: 768px) {
    #header_container {
        padding-left:  20px !important;
        padding-right: 20px !important;
    }
}